body
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

img{
    max-width: 100%;
}

.lien-photos{
    color: #000000;
}

a:hover{
	text-decoration: none;
}
.margin-top{
    margin-top: 3em; 
}

.fond {
    background-color: #d9edf7;
}