body
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

img{
    max-width: 100%;
}

.lien-photos{
    color: #000000;
}

a:hover{
	text-decoration: none;
}
.margin-top{
    margin-top: 3em; 
}

.fond {
    background-color: #d9edf7;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}